$fontMain: 'PT sans', sans-serif;
$FontParrafo:  'Open Sans', sans-serif;

$titulo-size: 2.2rem;
$titulo-sizeM:3.5rem;
$titulo-sizeL:4rem;
$h2-size:  3.5rem;
$h3-size: 3rem;
$h4-size: 2.5rem;
$h5-size:2rem;
$blog-size:1.8rem;
$p-size:1.6rem;
$Badge-Size:1.3rem;
$TamañoMenu: 1.9rem;
$TamañoMenupc:2.2rem;
$LetraGruesa:700;

$line-height: 1.4;
$p-line-height:1.5rem;

$text-color:white; 
$blog-color:black;
$text-decoration: none;
$text-align: Center;